@tailwind base;
@tailwind components;
@tailwind utilities;

#fetchApi {
  background-color: blueviolet;
}

#ajax {
  background-color: chocolate;
}

#async {
  background-color: rgb(25, 47, 213);
  color: #fff;
}
